/*-----STYLES SESION-----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-color: #336b87;
    background-size: cover;
    display: flex;
    align-items: center;
}

.header__sesion {
    color: #ffffff;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    padding: 1.5rem 0;
}

.logo {
    margin-bottom: 40px;
}

.titulo {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: #E68A03;
}

.seccion__form {
    background-color: #333333;
    width: 40%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.form {
    width: 80%;
}

.sesion {
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    padding: 0px 20px;
    font-size: 1.5rem;
    border-radius: 20px;
    border: 2px solid #E68A03;
    background-color: #333333;
    outline: none;
    color: #ffffff;
    display: flex;
}

.sesion input {
    background-color: #333333;
    border: none;
    outline: none;
    width: 100%;
    color: #ffffff;
    font-size: 1.2rem;
}

.sesion input::placeholder {
    font-size: 1.5rem;
}

.div__boton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    padding: 0.8rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 800;
    box-sizing: content-box;
    background-color: #E68A03;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 10px;
}

.boton__create {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    padding: 0.8rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    box-sizing: content-box;
    background-color: #ffffff;
    border: 2px solid #E68A03;
    color: #E68A03;
    border-radius: 10px;
}

.register {
    margin-top: 10px;
    font-size: 1rem;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .header__nav {
        flex-direction: column;
        margin-left: 0;
        padding: 1rem;
    }

    .seccion__form {
        width: 90%;
        padding: 20px;
    }

    .titulo {
        font-size: 2rem;
    }

    .form {
        width: 100%;
    }

    .sesion {
        height: 40px;
        font-size: 1.2rem;
    }

    .sesion input::placeholder {
        font-size: 1rem;
    }

    .boton, .boton__create {
        width: 100%;
        font-size: 1rem;
    }

    .register {
        font-size: 0.9rem;
    }
}
